# encoding: utf-8
<% provide(:title, 'Über uns') %>

    <h1>Über uns</h1>
    <p>
      Raum und Zeit zur Verabschiedung schaffen - für den verstorbenen Menschen und die Angehörigen – dies ist mir als Bestatter ein Anliegen. Nicht alles muss sofort entschieden werden - oft entstehen Ideen und Vorstellungen über die gewünschte Verabschiedung erst im Lauf der ersten Tage nach dem Tod.
      Ich ermutige dazu, diese wichtige und unwiederbringliche Zeit zwischen Tod und Beerdigung aktiv zu nutzen, und unterstütze ausdrücklich eine Aufbahrung zu hause. Falls dies nicht möglich sein sollte, biete ich Möglichkeiten, wo Verabschiedung stattfinden kann. Die Nahestehenden können an allen Schritten auf diesem letzten Weg des Verstorbenen teilhaben und diese, zusammen mit mir, so gestalten, wie es sich für sie richtig anfühlt.
    </p>
    <p>
      Wir von Charon Bestattungen verstehen uns als Dienstleister in einem gesellschaftlichen Grenzbereich und wollen mithelfen den Prozess nach dem Tod für alle Beteiligten angemessen zu gestalten.
    </p>

