# encoding: utf-8
<%provide(:title, 'Kontakt') %>

    <h1>Kontakt</h1>
    
    <p><b>Uller Gscheidel</b><br>
    Alte Jakobstr. 133<br>
    10969 Berlin</p>
    
    <p>Telefon: 030-13 899 677<br>
    Fax: 030-252 99 462<br>
    Mobil: 0172 32 70 874</p>
    
    <p>post(at)charon.de</p>

