# encoding: utf-8

<% provide(:title, 'Home') %>
    <h1>Charon Bestattungen</h1>
    <p>Sie erreichen uns 24h täglich unter: - 030-13 899 677 oder 0172 3270 874</p>
    <p><i>Raum und Zeit zur Verabschiedung</i></p>




